<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Orders</h1>
          <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <table class="table table-bordered">
          <thead>
            <tr>
              <!-- <th scope="col">Order</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Total</th>
              <th scope="col">Actions</th> -->
              <th scope="col">Order</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Total</th>
              <th scope="col">DiffDays</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of order | paginate: config; let i= index">
              <th scope="row">#{{ o.order_id }}</th>
              <td>{{ o.order_date }}</td>
              <td>{{ o.status_name }}</td>
              <td>{{ o.order_total | currency:'':'' }}</td>
              <td>
                {{ o.diffDays }}<br>
                <a *ngIf="diffDays > 15 && (o.status_id == '1')" routerLink="/order" class="btn btn-danger btn-small" style="padding: 2px 2px;" (click)="clickDelete(o.order_id)">Cancel</a>
                <label *ngIf="((diffDays < 15 || diffDays > 15) && (o.status_id == '2'))" for="diffDays">-</label>
              </td>
              <td>
                <a routerLink="/orders" class="btn btn-dark btn-small" (click)="clickPrint(i)">View</a>
              </td>
            </tr>
            <tr *ngIf="!order.length">
              <td colspan="5">No data to display.</td>
            </tr>
          </tbody>
        </table>
        <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
          <ul class="pagination">
            <li *ngIf="!p.isFirstPage()" class="page-item">
              <a (click)="p.previous()" class="page-link" aria-label="Previous" [class.disabled]="p.isFirstPage()" style="cursor: pointer;">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <!-- <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
              <span *ngIf="!p.isFirstPage()" (click)="p.previous()"></span>
            </div> -->
            <li class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
              <a class="page-link" style="cursor: pointer;" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</a>
              <a class="page-link" *ngIf="p.getCurrent() === page.value">{{ page.label }}</a>
            </li>
            <!-- <div class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
              <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                <div *ngIf="p.getCurrent() === page.value">
                  <span>{{ page.label }}</span>
                </div>
            </div> -->
            <li *ngIf="!p.isLastPage()" class="page-item">
              <a (click)="p.next()" class="page-link" aria-label="Next" [class.disabled]="p.isLastPage()" style="cursor: pointer;">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <!-- <div class="pagination-next" [class.disabled]="p.isLastPage()">
              <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>
            </div> -->
          </ul>
        </pagination-template>
      </div>
      <app-page-print-order-history [sentToPrint]="sentToPrint"></app-page-print-order-history>
    </div>
  </div>
</section>
<app-footer></app-footer>
