<div *ngIf="isLogin() && (isAdmin() || isStaff())" class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
</div>
<div *ngIf="isLogin() && (isAdmin() || isStaff())" class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/user" routerLinkActive="active">User</a>
</div>
<div *ngIf="isLogin() && (isAdmin() || isStaff())" class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
</div>
<div *ngIf="isLogin() && (isAdmin() || isStaff())" class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/brand" routerLinkActive="active">Brand</a>
</div>
<div *ngIf="isLogin() && (isAdmin() || isStaff())" class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/category" routerLinkActive="active">Category</a>
</div>
<div *ngIf="isLogin() && (isCustommer())" class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/order" routerLinkActive="active">Orders</a>
</div>
<div *ngIf="isLogin() && (isAdmin() || isStaff())" class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/report-product" routerLinkActive="active">Report Product</a>
</div>
<div *ngIf="isLogin() && (isAdmin() || isStaff())" class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/report-sale" routerLinkActive="active">Report Sale</a>
</div>
<!-- <div class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/dashboard">Downloads</a>
</div> -->
<div class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/address" routerLinkActive="active">Address</a>
</div>
<div class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/profile-details" routerLinkActive="active">Account</a>
</div>
<div *ngIf="isLogin() && (isAdmin() || isStaff())" class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/" (click)="logout()">Log Out</a>
</div>
