<app-header></app-header>
<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h2 class="mb-2">Sign Up</h2>
            <p class="lead">Already have an account? <a routerLink="/login"> Login now</a></p>
          </div>
          <!-- <form action="#">
            <div class="form-group mb-4">
              <label for="#">Enter Email Address</label>
              <input type="text" class="form-control" placeholder="Enter Email Address">
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter username</label>
              <a class="float-right" routerLink="/forgot-password">Forget password?</a>
              <input type="text" class="form-control" placeholder="Enter Password">
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter Password</label>
              <input type="text" class="form-control" placeholder="Enter Password">
            </div>
            <div class="form-group">
              <label for="#">Confirm Password</label>
              <input type="text" class="form-control" placeholder="Confirm Password">
            </div>
            <a href="#" class="btn btn-main mt-3 btn-block">Signup</a>
          </form> -->
          <form #userForm="ngForm" novalidate>
            <div class="form-group mb-4">
              <label for="#">Firstname</label>
              <input required #user_firstname="ngModel"
              [ngClass]="{ 'is-invalid': user_firstname.invalid && (user_firstname.touched || user_firstname.dirty) }"
              ngModel name="user_firstname" type="text" class="form-control" id="user_firstname" placeholder="Firstname">
            </div>
            <div class="form-group mb-4">
              <label for="#">Lastname</label>
              <input required #user_lastname="ngModel"
              [ngClass]="{ 'is-invalid': user_lastname.invalid && (user_lastname.touched || user_lastname.dirty) }"
              ngModel name="user_lastname" type="text" class="form-control" id="user_lastname" placeholder="Lastname">
            </div>
            <div class="form-group mb-4">
              <label for="#">Address</label>
              <input required #user_address="ngModel"
              [ngClass]="{ 'is-invalid': user_address.invalid && (user_address.touched || user_address.dirty) }"
              ngModel name="user_address" type="text" class="form-control" id="user_address" placeholder="Address">
            </div>
            <div class="form-group mb-4">
              <label for="#">Tel</label>
              <input required #user_tel="ngModel"
              [ngClass]="{ 'is-invalid': user_tel.invalid && (user_tel.touched || user_tel.dirty) }"
              ngModel name="user_tel" type="number" class="form-control" id="user_tel" placeholder="Tel">
            </div>
            <div class="form-group mb-4">
              <label for="#">Email</label>
              <input required #user_email="ngModel"
              [ngClass]="{ 'is-invalid': user_email.invalid && (user_email.touched || user_email.dirty) }"
              ngModel name="user_email" type="email" class="form-control" id="user_email" placeholder="Email">
            </div>
            <div class="form-group mb-4">
              <label for="#">Sex</label>
              <div class="form-check">
                <input required #user_sex="ngModel"
                [ngClass]="{ 'is-invalid': user_sex.invalid && (user_sex.touched || user_sex.dirty) }"
                ngModel class="form-check-input" type="radio" name="user_sex" id="exampleRadios1" value="ชาย">
                <label class="form-check-label" for="exampleRadios1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input required #user_sex="ngModel"
                [ngClass]="{ 'is-invalid': user_sex.invalid && (user_sex.touched || user_sex.dirty) }"
                ngModel class="form-check-input" type="radio" name="user_sex" id="exampleRadios2" value="หญิง">
                <label class="form-check-label" for="exampleRadios2">
                  Female
                </label>
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="#">Username</label>
              <input required #user_username="ngModel"
              [ngClass]="{ 'is-invalid': user_username.invalid && (user_username.touched || user_username.dirty) }"
              ngModel name="user_username" type="text" class="form-control" id="user_username" placeholder="Username">
            </div>
            <div class="form-group mb-4">
              <label for="#">Password</label>
              <input required #user_password="ngModel"
              [ngClass]="{ 'is-invalid': user_password.invalid && (user_password.touched || user_password.dirty) }"
              ngModel name="user_password" type="password" class="form-control" id="user_password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="#">Confirm Password</label>
              <input required #user_confirm_password="ngModel"
              [ngClass]="{ 'is-invalid': user_confirm_password.invalid && (user_confirm_password.touched || user_confirm_password.dirty) }"
              ngModel name="user_confirm_password" type="password" class="form-control" id="user_confirm_password" placeholder="Confirm Password">
            </div>
            <button [disabled]="userForm.invalid" type="submit" class="btn btn-main mt-3 btn-block" (click)="insertUser(userForm.value)">Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
