<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Product</h1>
          <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Product</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <form #userForm="ngForm" novalidate>
          <div class="form-row align-item-center">
            <div class="input-group mb-3">
              <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
              <div class="input-group">
                <input #text="ngModel" [(ngModel)]="search" name="searchText" type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="ค้นหา" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append" (click)="getProduct()">
                  <div class="input-group-text">
                    <i class="fas fa-search-plus"></i>
                  </div>
                </div>
                <button button mat-button routerLink="/add-product" mat-flat-button color="primary">Add Row</button>
                <!-- <button button mat-button (click)="openDialog('Add', {})" mat-flat-button color="primary">Add Row</button> -->
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col" style="width: 7rem;">Product ID</th>
                <th scope="col" style="width: 7rem;">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Description</th>
                <th scope="col" style="width: 17rem;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of product | paginate: { id:'pagination', itemsPerPage: 10, currentPage: currentPage }; let i= index">
                <th scope="row">#{{ p.pageNo }}</th>
                <td>{{ p.product_id }}</td>
                <td><img *ngIf="p.img_product" class="img-fluid w-100 mb-3" onError="this.src='./assets/images/img-default.gif'" [src]="srcImage+p.img_product" alt="product-img" /></td>
                <td>{{ p.product_name }}</td>
                <td>{{ p.product_price | currency:'':'' }}</td>
                <td>{{ p.product_quantity }}</td>
                <td>{{ p.product_description }}</td>
                <td>
                  <!-- <a routerLink="/order" class="btn btn-dark btn-small">View</a> | -->
                  <a [routerLink]="['/edit-product', p.product_id, p.product_name]" class="btn btn-warning btn-small">Edit</a> |
                  <a routerLink="/product" class="btn btn-danger btn-small" (click)="deleteProduct(p.product_id)">Delete</a>
                </td>
              </tr>
              <tr *ngIf="!product.length">
                <td colspan="5">No data to display.</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls id="pagination" class="text-center" (pageChange)="currentPage = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป" [autoHide]="true"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
